@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin adaptive {
  width: 320px;
  margin: 0 auto;

  @media(min-width: 660px) {
    width: 660px;
  }

  @media(min-width: 1200px) {
    width: 1200px;
  }
}
