.contacts-block {
  padding-top: 43px;
  padding-bottom: 39px;
}

.contacts-block__description {
  margin: 0 auto;
  margin-bottom: 37px;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.contacts-block__item {
  width: 240px;
  margin: 0 auto;
  margin-top: 24px;

  &--3 {
    margin-top: 27px;
    .contacts-block__item-heading {
      margin-bottom: 6px;
    }
  }
}

.contacts-block__item-heading {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  text-align: center;
}

.contacts-block__item-content {
  margin: 0 auto;
  margin-top: 3px;
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-align: center;

  &--mail {
    cursor: pointer;
  }

  &--mail:hover {
    color: #283645;
    border-bottom: 2px solid #283645;
  }

  &--mail:active {
    border: none;
    opacity: 0.3;
  }
}

@media(min-width: 660px) {

  .contacts-block {
    padding-top: 48px;
    padding-bottom: 29px;
  }

  .contacts-block__description {
    width: 370px;
    margin-bottom: 22px;
    font-size: 40px;
  }

  .contacts-block__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts-block__item {

    &--3 {
      margin-top: 48px;
    }
  }

}

@media(min-width: 1200px) {

  .contacts-block {
    padding-top: 63px;
    padding-bottom: 22px;
  }

  .contacts-block__description {
    width: 465px;
    margin-bottom: 36px;
    font-size: 50px;
  }

  .contacts-block__item {

    &--1 {
      order: 1;
    }

    &--2 {
      order: 3;
    }

    &--3 {
      margin-top: 24px;
      order: 2;
    }
  }

}
