.contacts-block__description {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.contacts-block__item {
  width: 240px;
  margin: 0 auto;
}

.contacts-block__item-heading {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  text-align: center;
}

.contacts-block__item-content {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-align: center;
}
