.effect-block {
  display: none;
}

@media(min-width: 660px) {

  .effect-block {
    display: block;
    padding-top: 59px;
  }

  .effect-block__container {
    display: flex;
  }

  .effect-block__img {
    width: 238px;
    height: 276px;
    background: url("../img/24.png") no-repeat;
  }

  .effect_block__heading {
    width: 168px;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
  }

  .effect-block__description {
    width: 300px;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .effect_block__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media(min-width: 1200px) {

  .effect-block {
    background-color: #f2f2f2;
  }

  .effect_block__heading {
    width: 300px;
    line-height: 30px;
  }

  .effect-block__description {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect_block__link {
    font-size: 18px;
    line-height: 30px;
  }

}
