.features-block {
  background-color: #f2f2f2;
}

.features-block__item {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.features-block__item-heading {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.features-block__item-description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}
