.home-page-intro {
  background: #1d2631;
  padding-bottom: 1px;
}

.home-page-intro__img {
  position: relative;
  min-height: 395px;
  margin: 0 auto;
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  background-size: cover;
}

.home-page-intro__img img {
  width: 256px;
  height: 286px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.home-page-intro__markets {
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 205px;
}

.home-page-intro__market-item {
  &--ios {
    width: 50px;
    height: 56px;
    background: url("../img/logo-apple.svg") no-repeat;
  }
  &--android {
    width: 50px;
    height: 56px;
    background: url("../img/logo-android.svg") 0px 8px no-repeat;
  }
  &--windows {
    width: 50px;
    height: 56px;
    background: url("../img/logo-microsoft.svg") 0px 12px no-repeat;
  }
}

.home-page-intro__heading {
  display: none;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  width: 186px;
  margin-top: 93px;
  text-align: center;
}

.home-page-intro__btn {
  width: 280px;
  margin: 0 auto;
  margin-top: 28px;
  padding-top: 14px;
  padding-bottom: 17px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-align: center;
}

.home-page-intro__description {
  width: 230px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

@media(min-width: 660px) {

  .home-page-intro {
    position: relative;
  }

  .home-page-intro__heading {
    display: block;
  }

  .home-page-intro__btn {
    margin-top: 33px;
  }

  .home-page-intro__img {
    min-height: 618px;
  }

  .home-page-intro__img img {
    width: 468px;
    height: 545px;
    left: auto;
    right: 24px;
  }

  .home-page-intro__markets {
    margin-top: 46px;
  }

  .home-page-intro__description {
    width: 295px;
    margin-top: 38px;
    font-size: 18px;
  }

  .home-page-intro__content {
    position: absolute;
    top: 0;
  }
}

@media(min-width: 1200px) {

  .home-page-intro__heading {
    width: 232px;
    font-size: 50px;
  }

  .home-page-intro__btn {
    width: 300px;
    font-size: 21px;
  }

}
