.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center;
  background: #283645;
}

.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
}
