.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center;
  background: #283645;
}

.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
}

@media(min-width: 1200px) {

  .page-header__content {
    display: flex;
    justify-content: space-between;
  }

  .page-header__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 624px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }

  .main-nav__item {
    border: none;
  }

}
