.map-block {
  position: relative;
  width: 100%;
  height: 200px;
}

.map-block::after {
  content: "";
  width: 100%;
  height: 33%;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat;
  background-size: cover;
  position: absolute;
  top: -35px;
}

@media(min-width: 660px) {
  .map-block {
    height: 374px;
  }

  .map-block::after {
    content: "";
    top: -50px;
  }

}

@media(min-width: 1200px) {
  .map-block {
    height: 502px;
  }

  .map-block::after {
    top: -1px;
  }

}
