.page-heading {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 84px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.page-heading h1 {
  width: 168px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
