.page-heading {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 84px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
}

.page-heading h1 {
  width: 168px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media(min-width: 660px) {

  .page-heading {

  }

  .page-heading h1 {
    width: 350px;
    font-size: 50px;
  }

}

@media(min-width: 1200px) {

  .page-heading {

  }

  .page-heading h1 {

  }

}
