.reviews-block__slider-item {
  width: 276px;
  &--2 {
    display: none;
  }
  &--3 {
    display: none;
  }
}

.reviews-block__slider-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.reviews-block__slider-description {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}
